<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
    <link rel="stylesheet" href="/css/styleIngredient.css">
</head>
<body>
    <h1> List of ingredients </h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Unit price</th>
            <th>Unit</th>
            <th>Update date time</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="ingredient : ${ingredients}">
        <td th:text="${ingredient.id}"></td>
        <td th:text="${ingredient.name}"></td>
        <td th:text="${ingredient.unitPrice}"></td>
        <td th:text="${ingredient.unit}"></td>
        <td th:text="${ingredient.updateDateTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>